<launch>
  <param name="/use_sim_time" value="true" />

  <!-- start world -->
  <node name="gazebo" pkg="gazebo_ros" type="gazebo"
   args="$(find multi_turtlebots_sim)/turtlebot3_description/world/turtlebot3_house.world" respawn="false" output="screen" />

  <!-- include our robots -->
  <include file="$(find multi_turtlebots_sim)/launch/robots.launch"/>
</launch>