<launch>
  <!--<param name="/use_sim_time" value="true"/>-->

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find map_launcher)/map/map.yaml" >
    <param name="frame_id" value="/map" />
  </node>
<!--
<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster1" args="3 1 0 0 0 0 1 map robot1/base_footprint 100" />
<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster2" args="-4 1 0 0 0 0 1 map robot2/base_footprint 100" />
<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster3" args="1 -6 0 0 0 0 1 map robot3/base_footprint 100" />
-->

 <!-- Properties of each robot      -->
    
   <!-- AMCL      -->

    <include file="$(find multi_turtlebots_nav)/launch/amcl_robot1.launch" />
    <include file="$(find multi_turtlebots_nav)/launch/amcl_robot2.launch" />
    <include file="$(find multi_turtlebots_nav)/launch/amcl_robot3.launch" />

   <!--MOVE_BASE-->

	<include file="$(find multi_turtlebots_nav)/launch/move_base_1.launch" />
	<include file="$(find multi_turtlebots_nav)/launch/move_base_2.launch" />	
	<include file="$(find multi_turtlebots_nav)/launch/move_base_3.launch" />

<!-- Launching Rviz      -->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_launcher)/rviz/turtlebot3_navigation.rviz" />

</launch>